page-login {

}
.image{ 
    align-items: center;
    height: 200px;
    padding-bottom: 10px;
}
// ion-content {
//     background-image: url('https://3.bp.blogspot.com/-9P8KWoc8vqk/VugWRQEcgsI/AAAAAAABLgk/lx2aDsfy_D4yMpYMBxTpKjA5rBVFW_q2Q/s1600/Shiny-green-flowery-plain-wallpaper.jpg')
// }
// .trans{
//         border-color: rgba(0, 0, 0, 0);
//         background-color: rgba(0, 0, 0, 0);
//         -webkit-text-fill-color: white; 
// }