<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Feeds" tabIcon="md-paper"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Upload" tabIcon="md-cloud-upload"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Saffrony" tabIcon="md-globe"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Profile" tabIcon="md-contact"></ion-tab>
</ion-tabs>