<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Saffrony</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card>
    <img src="http://yourshot.nationalgeographic.com/u/fQYSUbVfts-T7odkrFJckdiFeHvab0GWOfzhj7tYdC0uglagsDNebKY3Xwi-jWbyBbRXREMxVLL3xKfbrBvz3ImZZ-FnLtbD88kOd89UegJS27uYbpQU_gg6PrqMYXv60TXUZFAkryUjwqFA6zRDyKtYvcs1sHHtNIlAJ3mIF1oa6fB3nO1Zqt345NNxlcrUtH--1bklKb7wuAdLMN2eRTWp1bpgodk/"/>
    <ion-card-content>
      <ion-card-title>
        Nine Inch Nails Live
      </ion-card-title>
      <p>
        The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
      </p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
            <ion-icon name="star"></ion-icon>
            <div>Favourite</div>
          </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
            <ion-icon name="md-share-alt"></ion-icon>
            <div>Share</div>
          </button>
      </ion-col>
    </ion-row>

  </ion-card>


</ion-content>