<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Create an Account
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <div text-center>
        <img src="assets/img/NewLogoLandscape.png">
      </div>
    <div padding>
        <ion-segment [(ngModel)]="SP">
          <ion-segment-button value="student">
            Students
          </ion-segment-button>
          <ion-segment-button value="other">
            Others
          </ion-segment-button>
        </ion-segment>
      </div>
      
      <div [ngSwitch]="SP">
        <ion-list *ngSwitchCase="'other'">
            <form [formGroup]="signupFormOther" (submit)="signupOther()" novalidate>
                
                    <ion-item>
                      <ion-label stacked>First name</ion-label>
                      <ion-input formControlName="fname" type="text" pattern="[a-zA-Z ]+" placeholder="Your First name" [class.invalid]="!signupFormOther.controls.fname.valid && signupFormOther.controls.fname.dirty">
                      </ion-input>
                    </ion-item>
                    <ion-item class="error-message" *ngIf="!signupFormOther.controls.fname.valid  && signupFormOther.controls.fname.dirty">
                      <p>Please enter a valid name.</p>
                    </ion-item>
                
                    <ion-item>
                      <ion-label stacked>Last name</ion-label>
                      <ion-input formControlName="lname" type="text" pattern="[a-zA-Z ]+" placeholder="Your Last name" [class.invalid]="!signupFormOther.controls.lname.valid && signupFormOther.controls.lname.dirty">
                      </ion-input>
                    </ion-item>
                    <ion-item class="error-message" *ngIf="!signupFormOther.controls.lname.valid  && signupFormOther.controls.lname.dirty">
                      <p>Please enter a valid name.</p>
                    </ion-item>
                
                    <ion-item>
                      <ion-label stacked>Email</ion-label>
                      <ion-input formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!signupFormOther.controls.email.valid && signupFormOther.controls.email.dirty">
                      </ion-input>
                    </ion-item>
                    <ion-item class="error-message" *ngIf="!signupFormOther.controls.email.valid  && signupFormOther.controls.email.dirty">
                      <p>Please enter a valid email.</p>
                    </ion-item>
                
                    <ion-item>
                      <ion-label stacked>Password</ion-label>
                      <ion-input formControlName="password" type="password" placeholder="Your password" [class.invalid]="!signupFormOther.controls.password.valid && signupFormOther.controls.password.dirty">
                      </ion-input>
                    </ion-item>
                    <ion-item class="error-message" *ngIf="!signupFormOther.controls.password.valid  && signupFormOther.controls.password.dirty">
                      <p>Your password needs more than 6 characters.</p>
                    </ion-item>
                
                    <ion-item>
                      <ion-label stacked>Re-type password</ion-label>
                      <ion-input formControlName="passwordRetyped" type="password" placeholder="Re-type password" [class.invalid]="!signupFormOther.controls.password.valid && signupFormOther.controls.password.dirty">
                      </ion-input>
                    </ion-item>
                    <ion-item class="error-message" *ngIf="!signupFormOther.controls.password.valid  && signupFormOther.controls.password.dirty">
                      <p>Your password needs more than 6 characters.</p>
                    </ion-item>

                    <button ion-button block type="submit" [disabled]="!signupFormOther.valid">
                      Create an Account
                    </button>
                  </form>
        </ion-list>
      
        <ion-list *ngSwitchCase="'student'">
            <form [formGroup]="signupFormStudent" (submit)="signupStudent()" novalidate>
                
                    <ion-item>
                      <ion-label stacked>First name</ion-label>
                      <ion-input formControlName="fname" type="text" pattern="[a-zA-Z ]+" placeholder="Your First name" [class.invalid]="!signupFormStudent.controls.fname.valid && signupFormStudent.controls.fname.dirty">
                      </ion-input>
                    </ion-item>
                    <ion-item class="error-message" *ngIf="!signupFormStudent.controls.fname.valid  && signupFormStudent.controls.fname.dirty">
                      <p>Please enter a valid name.</p>
                    </ion-item>
                
                    <ion-item>
                      <ion-label stacked>Last name</ion-label>
                      <ion-input formControlName="lname" type="text" pattern="[a-zA-Z ]+" placeholder="Your Last name" [class.invalid]="!signupFormStudent.controls.lname.valid && signupFormStudent.controls.lname.dirty">
                      </ion-input>
                    </ion-item>
                    <ion-item class="error-message" *ngIf="!signupFormStudent.controls.lname.valid  && signupFormStudent.controls.lname.dirty">
                      <p>Please enter a valid name.</p>
                    </ion-item>
                
                    <ion-item>
                      <ion-label stacked>Email</ion-label>
                      <ion-input formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!signupFormStudent.controls.email.valid && signupFormStudent.controls.email.dirty">
                      </ion-input>
                    </ion-item>
                    <ion-item class="error-message" *ngIf="!signupFormStudent.controls.email.valid  && signupFormStudent.controls.email.dirty">
                      <p>Please enter a valid email.</p>
                    </ion-item>
                
                    <ion-item>
                      <ion-label stacked>Password</ion-label>
                      <ion-input formControlName="password" type="password" placeholder="Your password" [class.invalid]="!signupFormStudent.controls.password.valid && signupFormStudent.controls.password.dirty">
                      </ion-input>
                    </ion-item>
                    <ion-item class="error-message" *ngIf="!signupFormStudent.controls.password.valid  && signupFormStudent.controls.password.dirty">
                      <p>Your password needs more than 6 characters.</p>
                    </ion-item>
                
                    <ion-item>
                      <ion-label stacked>Re-type password</ion-label>
                      <ion-input formControlName="passwordRetyped" type="password" placeholder="Re-type password" [class.invalid]="!signupFormStudent.controls.password.valid && signupFormStudent.controls.password.dirty">
                      </ion-input>
                    </ion-item>
                    <ion-item class="error-message" *ngIf="!signupFormStudent.controls.password.valid  && signupFormStudent.controls.password.dirty">
                      <p>Your password needs more than 6 characters.</p>
                    </ion-item>
                
                    <ion-item>
                        <ion-label stacked>Select branch</ion-label>
                        <ion-select formControlName="branch" type="radio" [class.invalid]="!signupFormStudent.controls.branch.valid && signupFormStudent.controls.branch.dirty">
                            <ion-option value="Computer">Computer</ion-option>
                            <ion-option value="Information">IT</ion-option>
                            <ion-option value="Mechanical">Mechanical </ion-option>
                            <ion-option value="Civil">Civil</ion-option>
                            <ion-option value="Auto">Auto</ion-option>
                            <ion-option value="Electrical">Electrical</ion-option>
                            <ion-option value="Electronic">Electronic</ion-option>
                          </ion-select>
                      </ion-item>
                      <ion-item class="error-message" *ngIf="!signupFormStudent.controls.branch.valid  && signupFormStudent.controls.branch.dirty">
                          <p>Please, select any one opotion.</p>
                      </ion-item>

                    <button ion-button block type="submit" [disabled]="!signupFormStudent.valid">
                      Create an Account
                    </button>
                  </form>
        </ion-list>
      </div>
</ion-content>