.toolbar-background {
    background-color: #f57f17;
}

.logout {
    padding-inline-end: 10px;
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i');

ion-content {
    background: rgb(194, 194, 194);
    font-family: 'Ubuntu', sans-serif;
}

ion-title {
    font-family: 'Ubuntu', sans-serif;
}