<ion-menu [content]="mycontent">
    <ion-header>
        <ion-toolbar color="secondary">
            <ion-title>Menu</ion-title>
            <ion-buttons end>
                <button ion-button menuToggle>
                    <ion-icon ios="ios-close" md="md-close"></ion-icon>
                </button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button menuClose ion-item (click)="openAboutUs()">
                <ion-icon class="logout" ios="ios-people" md="md-people"></ion-icon>About us        
            </button>
        </ion-list>
        <ion-list>
            <button menuClose ion-item (click)="openFeedback()">
                <ion-icon class="logout" ios="ios-chatboxes" md="md-chatboxes"></ion-icon>Feedback        
            </button>
        </ion-list>
        <ion-list>
            <button menuClose ion-item (click)="logout()">
                <ion-icon class="logout" ios="ios-power" md="md-power"></ion-icon>Log out
            </button>
            </ion-list>
    </ion-content>

</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>