<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Upload</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button full (click)="takePicture()">
    <ion-icon ios="ios-camera" md="md-camera" id="camera"></ion-icon>
    &nbsp;&nbsp;&nbsp;&nbsp;Take Picture</button>
  <button ion-button full (click)="selectPhoto()">Select from Gallery</button>
  <img [src]="captureDataUrl" *ngIf="captureDataUrl" />

  <ion-item>
    <ion-label stacked>Summary:</ion-label>
    <ion-textarea raw="4" [(ngModel)]="displaySummary">
    </ion-textarea>
  </ion-item>

  <button ion-button (click)="upload()" *ngIf="captureDataUrl">Upload</button>
</ion-content>