<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Feeds</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card *ngFor="let userFeed of userFeeds | async">

    <ion-item>
      <ion-avatar item-start>
        <img src="{{ userFeed.profilePic }}">
      </ion-avatar>
      <h2>{{userFeed.fname}} {{userFeed.lname}}</h2>
      <p>{{ userFeed.branch }}</p>
    </ion-item>

    <img src="{{ userFeed.feed }}">

    <ion-card-content *ngIf="userFeed.summary">
      <p>{{ userFeed.summary }}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small (click)="like(userFeed.$key,userFeed.likes)">
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{userFeed?.likes}} Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>4 Comments</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>

<!--

<ion-content>

  <ion-list>

    <ion-card text-wrap *ngFor="let userFeed of userFeeds | async">

      <ion-item>

        <!-- profile pic -->

<!--
        <ion-item>

          <ion-avatar id="profilepic" item-start>
            <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAdWAAAAJDUzNzJjOWJmLTAzYTktNGQyZC04ODI0LTQ4YjA3YjUxYmU2Ng.jpg">
          </ion-avatar>
          <h2 id="username">{{ moderator.fname }} {{ moderator.lname }}</h2>
          <p id="date">10 Aug 2017</p>

        </ion-item>
        <!-- username -->
<!--
        <div ng-if="userFeed.feed">
          <img [src]="userFeed.feed">
        </div>
        <h2>{{ moderator.info }}</h2>

      </ion-item>


      <ion-card-content>
        <p>{{ moderator.summary }} </p>
      </ion-card-content>

      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small>
             <ion-icon ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon>
           
          </button>
        </ion-col>

        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="text"></ion-icon>
           
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small>
             <ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>
           
          </button>
        </ion-col>
      </ion-row>

    </ion-card>

  </ion-list>


</ion-content>
-->